<section class="about-video">
    <div class="about-video__content">
        <div class="container">
            <div class="title animate-title">
                Фильм о нас
            </div>
            <div class="about-video__content-bottom">
                <div class="text animate-title">
                    <div class="tabs tab-nav">
                        <div class="text__title tab-link active" data-show="video">
                            Видео
                        </div>
                        <div class="text__title tab-link" data-show="article">
                            Статьи
                        </div>
                    </div>
                </div>
                <div class="tab-block">
                    <div class="video-block active">
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link"></div>
                                <div class="caption">
                                    <div class="text__title">Название видео 1</div>
                                    <div class="desc">Текст о видео,который должен умещаться в три строки и не более того</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link"></div>
                                <div class="caption">
                                    <div class="text__title">Название видео 2</div>
                                    <div class="desc">Текст о видео,который должен умещаться в три строки и не более того</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link"></div>
                                <div class="caption">
                                    <div class="text__title">Название видео 3</div>
                                    <div class="desc">Текст о видео,который должен умещаться в три строки и не более того</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link"></div>
                                <div class="caption">
                                    <div class="text__title">Название видео 4</div>
                                    <div class="desc">Текст о видео,который должен умещаться в три строки и не более того</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="article-block ">
                        <div class="item">
                            <div class="article-block__content">
                                <div class="image"></div>
                                <div class="text__title">Название статьи 1</div>
                                <div class="desc">Текст о статье,который должен умещаться в три строки и не более того</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="article-block__content">
                                <div class="image"></div>
                                <div class="text__title">Название статьи 2</div>
                                <div class="desc">Текст о статье,который должен умещаться в три строки и не более того</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="article-block__content">
                                <div class="image"></div>
                                <div class="text__title">Название статьи 3</div>
                                <div class="desc">Текст о статье,который должен умещаться в три строки и не более того</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="article-block__content">
                                <div class="image"></div>
                                <div class="text__title">Название статьи 4</div>
                                <div class="desc">Текст о статье,который должен умещаться в три строки и не более того</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>