<section class="about-video">
    <div class="about-video__content">
        <div class="container">
            <div class="title animate-title">
                СМИ о нас
            </div>
            <div class="about-video__content-bottom">
                <div class="text animate-title">
                    <div class="tabs tab-nav">
                        <div class="text__title tab-link active" data-show="video">
                            Видео
                        </div>
                        <div class="text__title tab-link" data-show="article">
                            Статьи
                        </div>
                    </div>
                </div>
                <div class="tab-block">
                    <div class="video-block active">
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link">
                                    <iframe width="328" height="250" src="https://www.youtube.com/embed/ZeoSgu6nI5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="caption">
                                    <div class="text__title">Интервью к 20-летию, часть 1</div>
                                    <div class="desc">Игорь Ашманов</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link">
                                    <iframe width="328" height="250" src="https://www.youtube.com/embed/83gPT634hyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="caption">
                                    <div class="text__title">Интервью к 20-летию, часть 2</div>
                                    <div class="desc">Денис Шубенок, Ксения Тулаева, Станислав Ашманов</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link">
                                    <iframe width="328" height="250" src="https://www.youtube.com/embed/ZeoSgu6nI5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="caption">
                                    <div class="text__title">Интервью к 20-летию, часть 1</div>
                                    <div class="desc">Игорь Ашманов</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="video-block__content">
                                <div class="video-link">
                                    <iframe width="328" height="250" src="https://www.youtube.com/embed/83gPT634hyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="caption">
                                    <div class="text__title">Интервью к 20-летию, часть 2</div>
                                    <div class="desc">Денис Шубенок, Ксения Тулаева, Станислав Ашманов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-block ">
                        <div class="item">
                            <div class="article-block__content">
                                <a href="https://www.seonews.ru/interviews/denis-shubenok-ob-istorii-razvitiya-ashmanov-i-partnery-servisakh-uslugakh-i-klientakh/">
                                    <div class="image">
                                        <img src="../img/seonews.webp" alt="">
                                    </div>
                                    <div class="text__title">Интервью для SEOnews.ru</div>
                                    <div class="desc">Об истории развития «Ашманов и партнеры», сервисах, услугах и клиентах</div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="article-block__content">
                                <a href="https://adindex.ru/publication/opinion/internet/2021/04/28/293408.phtml">
                                    <div class="image">
                                        <img src="../img/adindex.webp" alt="">
                                    </div>
                                    <div class="text__title">Интервью для Adindex</div>
                                    <div class="desc">Digital-маркетинг в 2021 году</div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="article-block__content">
                                <a href="https://rb.ru/opinion/digital-marketing-loses-efficiency/">
                                    <div class="image">
                                        <img src="../img/rusbase.webp" alt="">
                                    </div>
                                    <div class="text__title">Интервью для RB.ru</div>
                                    <div class="desc">Как привлекать клиентов сегодня?</div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="article-block__content">
                                <a href="https://adindex.ru/publication/opinion/internet/2021/09/8/297918.phtml">
                                    <div class="image">
                                        <img src="../img/adindex.webp" alt="">
                                    </div>
                                    <div class="text__title">Интервью для Adindex</div>
                                    <div class="desc">Кому доверить управление поисковым продвижением</div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="article-block__content">
                                <a href="https://vc.ru/seo/296851-pro-seo-s-alekseem-gubermanom">
                                    <div class="image">
                                        <img src="../img/vc.webp" alt="">
                                    </div>
                                    <div class="text__title">Интервью для SEOWORK</div>
                                    <div class="desc">Кто стоит за услугами SEO в «Ашманов и партнеры»</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>