<section id="congrats" class="congrats">
    <div class="congrats__content">
        <div class="container">
            <div class="congrats__content-top">
                <div class="title animate-title">
                    Поздравления
                </div>
                <p class="epilog animate-text">
                    от партнеров и друзей
                </p>
            </div>
            <div class="congrats__content-bottom">
                <div class="left-side">
                    <div class="prev-text">
                        <p>Нам было бы приятно получить поздравление от вас! Вы можете опубликовать его в соцсетях с хештегами #аип20лет #сднемрожденияаип, а затем прислать ссылку на публикацию или скриншот через форму ниже. Мы обязательно рассмотрим поздравление и опубликуем его!</p>
                        <div class="callback">
                            <a href="#" class="call">Поздравить нас</a>
                        </div>
                    </div>
                    <div class="tags">
                        <div class="tags-item animate-text">#АИп20лет</div>
                        <div class="tags-item animate-text">#сднемрожденияАИп</div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="slider">
                        <div class="slider-content">
                            <div class="item"><img src="../img/insta-photo.webp" alt=""></div>
                            <div class="item"><img src="../img/insta-photo.webp" alt=""></div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>