<section class="first-screen">
    <div class="first-screen_content">            
        <div class="image">
        </div>
        <div class="container">
            <div class="text">
                <div class="text__title animate-title">
                    20-летие «Ашманов и партнеры» 
                </div>
                <div class="text__desc animate-text">
                    нам доверяют лучшие
                </div>                
            </div>
            <div class="social">
                <div class="social__list">
                    @@include('../../bem-blocks/_social.html')
                </div>                
            </div>
        </div>
    </div>
</section>