<section class="aip-talking single">
    <div class="aip-talking__content">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><span>Отзывы</span></li>
                </ul>
            </div>
            <div class="title">
                Отзывы
            </div>
        </div>
        <div class="sorting">
            <div class="sorting__items">
                <a href="#" class="item sort-new active">Сначала новые</a>
                <a href="#" class="item sort-old">Сначала старые</a>
            </div>
            <!-- @@include('../../bem-blocks/_pagination.html') -->
        </div>
        @@include('../../bem-blocks/_reviews.html')
        
        <div class="review-more">
            <div></div>
            <div class="review-more__button"><a href="#">Показать еще</a></div>
            <div></div>
            <!-- @@include('../../bem-blocks/_pagination.html') -->
        </div>
    </div>
</section>