<section id="about" class="second-screen">
    <div class="second-screen__content">
        <div class="container">
            <div class="title animate-title">
                всё только начинается!
            </div>
            <div class="description animate-text">
            <p>Трудно поверить – но нам 20! Помните свои 20 лет? Кажется, за плечами уже так много, но самое грандиозное ждет впереди – ведь всё только начинается! Мы хотим рассказать о себе больше. С чего всё началось, кто строил компанию, чем мы полезны сегодня и что планируем в будущем.</p>
            <p>Здесь вы найдете яркие моменты, воспоминания коллег, свежие интервью и материалы о жизни и ценностях компании. Празднование 20-летия началось – поехали!</p>
            </div>
            <div class="author-info">
                <div class="author-info__name animate-title">
                    Игорь Ашманов
                </div>
                <div class="author-info__position animate-text">
                    Президент ГК «Ашманов и партнёры», член Совета при Президенте РФ по развитию гражданского общества и правам человека
                </div>                
            </div>
        </div>
    </div>
</section>