<section id="today" class="today">
    <div class="today__content">
        <div class="container">
            <div class="title animate-title">
                мы сегодня
            </div>
            <div class="item-slide">
                <div class="item active">
                    <div class="left-side">
                        <div class="min-title animate-title">
                            Помогаем бизнесу
                        </div>
                        <div class="desc animate-text">
                            <p>Мы анализируем более 800 факторов ранжирования, чтобы бизнес мог говорить с Яндекс и Google на одном языке. Кастомизируем полезные маркетинговые исследования под разные отрасли: e-commerce, недвижимость, авто, финансы, медицина. </p>
                            <p>Проводим бесплатную конференцию Optimization, чтобы маркетологи чувствовали себя непринужденно и комфортно в SEO и могли напрямую пообщаться с представителями поисковиков!</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <img src="../img/google.webp" alt="">
                    </div>
                </div>

                <div class="item">
                    <div class="left-side">
                        <img src="../img/about.webp" alt="">                        
                    </div>
                    <div class="right-side">
                        <div class="min-title animate-title">
                            Делимся знаниями
                        </div>
                        <div class="desc animate-text">
                            <p>Наши эксперты при поддержке МГИМО, Mail.ru Group, Google, Яндекс.Вертикали и других провели несколько десятков бесплатных обучающих мероприятий.</p>
                            <p>Мы переиздали книгу-бестселлер «Оптимизация и продвижение сайтов в поисковых системах». А совсем недавно создали и запустили новый курс обучения поисковому маркетингу для управленцев.</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="left-side">
                        <div class="min-title animate-title">
                            Разрабатываем технологии
                        </div>
                        <div class="desc animate-text">
                            <p>Тургенев, Рейтинг видимости сайтов, SeoRate, SearchLab – эти технологии и инструменты разработали мы. Они помогают маркетологам, SEO-специалистам, копирайтерам автоматизировать работу и усилить результаты.</p>
                        </div>
                    </div>
                    <div class="right-side animate-text">
                    </div>
                    <div class="graph">
                        <img src="../img/graph.webp" alt="">
                    </div>
                </div>

                <div class="item">
                    <div class="left-side">
                        <div class="min-title animate-title">
                            Получаем награды
                        </div>
                        <div class="desc animate-text">
                            <p>Наша команда не раз завоевывала премии Рунета и Adindex за вклад в технологии, инновации, образование, поисковую оптимизацию и тд. </p>
                            <p>Хотя мы несколько лет активно не участвовали в рейтингах, компания ежегодно входит в топ-российский digital-агентств по версии Adindex, Ruward, Tagline и Медиалогия по дюжине различных параметров: качество услуг, цитируемости, сервису, узнаваемости и тд.</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <img src="../img/yan.webp" alt="">
                    </div>
                </div>
                
            </div>            
        </div>
    </div>
</section>