<section id="our-way" class="way-page">
    <div class="way-page__content">
        <div class="container">
            <div class="title animate-title">
                наш путь к успеху
            </div>
            <div class="way-page__content-flex">
                <div class="way-page__content-desc">
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2021.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2020.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2019.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2018.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2017.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2016.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2015.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2014.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2013.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2012.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2011.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2010.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2009.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2008.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2007.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2006.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2005.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2004.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2003.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2002.html')</div>
                    <div class="slider-item">@@include('../../bem-blocks/way-page/_2001.html')</div>
                 </div>
                 
                 <div class="way-page__line">
                     <div class="year">2021</div>
                     <div class="year">2020</div>
                     <div class="year">2019</div>
                     <div class="year">2018</div>
                     <div class="year">2017</div>
                     <div class="year">2016</div>
                     <div class="year">2015</div>
                     <div class="year">2014</div>
                     <div class="year">2013</div>
                     <div class="year">2012</div>
                     <div class="year">2011</div>
                     <div class="year">2010</div>
                     <div class="year">2009</div>
                     <div class="year">2008</div>
                     <div class="year">2007</div>
                     <div class="year">2006</div>
                     <div class="year">2005</div>
                     <div class="year">2004</div>
                     <div class="year">2003</div>
                     <div class="year">2002</div>
                     <div class="year">2001</div>
                 </div>
            </div>
        </div>
    </div>
</section>