<div class="container">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/review.html">Отзывы</a></li>
            <li><span>@@name</span></li>
        </ul>
    </div>
    <div class="personal-info">
        <div class="personal-info__header animate-title">
            <div class="img">
                <img src="../img/aips/single/@@imgnum.webp" alt="">
            </div>
            <div class="title">
                @@name
            </div>
        </div>
        <div class="personal-info__way animate-text">
            <div class="old">
                <div class="min-title">Ранее:</div>
                <div class="text"><p>@@prev</p></div>
            </div>
            <div class="now">
                <div class="min-title">сейчас:</div>
                <div class="text"><p>@@now</p></div>
            </div>
        </div>
        <div class="personal-info__position animate-text">
            <div class="item">
                <div class="min-title">@@position</div>
                <div class="text"><p>@@company</p></div>
            </div>
            <div class="item">
                <div class="min-title">@@position2</div>
                <div class="text"><p>@@desc</p></div>
            </div>
        </div>    
        <div class="share-btn">
            <div class="text"><p>Поделиться интервью:</p></div>
            <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-curtain data-shape="round" data-services="facebook,vkontakte,telegram"></div>
            <div class="share-link-item icon --svg__share-link"></div>
        </div>
            
    </div>
</div>
