<div class="way-of year__2001">
    <div class="left-side">
        <ul>
            <li>Игорь Ашманов покинул пост исполнительного директора Rambler и решил основать собственную компанию. К нему присоединились несколько бывших топ-менеджеров «Рамблера»: Алексей Иванов, Алексей Тутубалин, Кирилл Зоркий и Дмитрий Пашко. Так началась история “Ашманов и партнёры”.</li>
            <li>По заказу «Лаборатории Касперского» для борьбы с почтовым спамом была разработана технология фильтрации спама.</li>
            <li>Запущена услуги по поисковой оптимизации сайтов.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/30.png" alt="">
    </div>
</div>