<div class="way-of year__2008">
    <div class="left-side">
        <ul>
            <li>Компания выпустила первый аналитический отчет «Поиск и контекстная реклама в Рунете», в котором проведен анализ рынка поиска в Рунете и контекстной рекламы, показаны характеристики поисковых систем, по которым можно сравнивать качество поиска.</li>
            <li>По результатам голосования в Сетевом конкурсе Российский Онлайн ТОР 2008 (РОТОР 2008) сайт компании "Ашманов и Партнеры" победил в номинации "Корпоративный сайт года", а партнер компании Алексей Тутубалин уже в третий раз одержал победу на РОТОРе в номинации "Исследователь года".</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/20.png" alt="">
    </div>
</div>