<div class="way-of year__2007">
    <div class="left-side">
        <ul>
            <li>Запустили проект AnalyzeThis — единственный независимый тест качества поиска в Рунете (Яндекс, Google, Mail.ru). Сервис использовался командой Яндекса для отслеживания аспектов качества поиска и наблюдения за конкуренцией поисковиков.</li>
            <li>«Ашманов и Партнеры» совместно с компанией IMHO VI создали компанию «Блондинка.ру» для разработки системы управления контекстной и медийной рекламой.</li>
            <li>Выпуск и рассылка первого номера журнала Клуба оптимизаторов под названием «Практика интернет-маркетинга»</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/25.png" alt="">
    </div>
</div>