<div class="way-of year__2002">
    <div class="left-side">
        <ul>
            <li>Прошла первая конференция «Optimization. Поисковая оптимизация и продвижение сайтов в Интернете». Мероприятие имело огромный успех и с тех пор проводится ежегодно.</li>
            <li>Выпуск первой версии фильтра «Спамтест» для операционных систем FreeBSD, Linux.
                Запуск бесплатного публичного сервиса Spamtest.ru по фильтрации почтового спама.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/29.png" alt="">
    </div>
</div>