<div class="way-of year__2006">
    <div class="left-side">
        <ul>
            <li>Запущен сервис SeoRate, который измеряет видимость сайтов и дает сравнение с конкурентами.</li>
            <li>Опубликована книга «Оптимизация и продвижение сайтов в поисковых системах» под редакцией Игоря Ашманова и Андрея Иванова — первый полноценный учебник по всем аспектам поисковой оптимизации сайтов. Книга была несколько раз переиздана и стала бестселлером в категории деловой литературы.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/22.png" alt="">
    </div>
</div>