<div class="way-of year__2004">
    <div class="left-side">
        <ul>
            <li>Выпущена технология по автоматическому определению тематики веб-страниц «Семантическое зеркало», которая стала использоваться системой контекстной рекламы «Бегун». </li>
            <li>Рынок активно двигается в сторону роста потребности в продвижении бизнеса в онлайне, в связи с чем были формализованы бизнес-процессы компании, продукты, а также работа отдела продаж.</li>
            <li>Выпущена технология геотаргетинга, которая используется компаниями «Бегун», «Мамба», AdFox и другими.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/26.png" alt="">
    </div>
</div>