<div class="way-of year__2005">
    <div class="left-side">
        <ul>
            <li>Продали фильтр «Спамтест», установленный на Mail.ru, в Билайне и МТС, десятках провайдеров российского Интернета, осуществляя фильтрацию почти 50% всей электронной почты в РФ,  «Лаборатории Касперского».</li>
            <li>Провели первую в России масштабную конференцию по digital-маркетингу eTarget «Технологии управления аудиторией».</li>
        </ul>
    </div>
    <div class="right-side">
        <ul>
            <li>Создали компанию «Наносемантика». Сегодня компания является лидером в разработке текстовых и голосовых виртуальных ассистентов для бизнеса,  системы распознавания речи и видео.  Клиенты Наносемантики: Сбербанк, Райффайзенбанк, Газпромнефть Webmoney, банк «Тинькофф Банк», ВТБ24, Бинбанк, Netbynet, «Триколор-ТВ», Yota, Headhunter, Банкир.ру, СГА, Атлант-М и др. В 2019 году получили инвестиции от "РВК" на развитие ИИ-платформы SOVA (Smart Open Virtual Assistant).</li>
        </ul>
    </div>
</div>