<div class="way-of year__2003">
    <div class="left-side">
        <ul>
            <li>Компания «Ашманов и Партнеры» организовала первую конференцию «Проблема спама и ее решения».</li>
            <li>«Спамтест» был установлен на публичной почте Mail.ru, где он защищает от спама десятки миллионов пользователей. </li>
            <li>На сервере Subscribe.ru открыта тематическая рассылка «Продвижение сайта». Сегодня образовательные материалы публикуются в блоге “Ашманов и партнеры” и телеграм-канале “Практика интернет-маркетинга”.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/1.png" alt="">
    </div>
</div>