<div class="way-of year__2010">
    <div class="left-side">
        <ul>
            <li>Основали АО «Крибрум». Сервис «Крибрум» выполняет мониторинг и анализ всех социальных медиа и СМИ Рунета, активно используется крупнейшими коммерческими организациями, банками, авиакомпаниями, операторами сотовой связи и т.д. Технологии Крибрум по анализу мировых социальных сетей экспортируются на зарубежный рынок – на английском, китайском и арабском языках.</li>
            <li>Вышел выпуск “Бизнес.Секреты” Олега Тинькова c участием Игоря Ашманова.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/17.png" alt="">
    </div>
</div>