<div class="way-of year__2015">
    <div class="left-side">
        <ul>
            <li>Компания «Ашманов и партнеры» стала лауреатом премии Adindex Awards в области поисковой оптимизации.</li>
            <li>Выпустили очередной аналитический обзор «Качество поиска и поисковые системы в Рунете» на основе данных AnalyzeThis — проекта независимой автоматизированной оценки качества поисковых машин.</li>
            <li>Совместно с редакцией SEOnews запустили «Юзабилити-лабораторию»: раз в месяц специалисты выбирают один сайт для бесплатного-аудита.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/9.png" alt="">
    </div>
</div>