<div class="way-of year__2011">
    <div class="left-side">
        <ul>
            <li>Открыт филиал компании в Санкт-Петербурге, который регулярно проводит бесплатные семинары и участвует в отраслевых мероприятиях. </li>
            <li>Журнал Forbes включил Игоря Ашманова в топ-30 персон российского интернет-бизнеса.</li>
            <li>В рамках проекта Analyzethis.ru выпущен новый анализатор. С его помощью измеряется загруженность сайтов рекламными материалами.</li>
            <li>Открылся сайт системы Крибрум.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/28.png" alt="">
    </div>
</div>