<div class="way-of year__2019">
    <div class="left-side">
        <ul>
            <li>Переиздали бестселлер «Оптимизация и продвижение в поисковых системах» в соавторстве с лучшими SEO-экспертами Рунета. Тираж был полностью распродан менее, чем за полгода. </li>
            <li>Исследовали особенности ранжирования медицинский, финансовых, автомобильных, ecommerce сайтов и сайтов недвижимости и выпустили серию аналитических отчетов. </li>
        </ul>
    </div>
    <div class="right-side">
        <ul>
            <li>Провели первую конференцию eTarget.Управление репутацией в МГИМО с участием ведущих специалистов в области PR, GR, SMM, мониторинга и аналитики социальных сетей и медиа. </li>
            <li>Выпустили большой апдейт сервиса «Тургенев»: число его активных пользователей достигло 16 000.</li>
        </ul>
    </div>
</div>