<div class="way-of year__2017">
    <div class="left-side">
        <ul>
            <li>Запущен сервис аналитики текста «Тургенев», который оценивает риск фильтра «Баден-Баден» в баллах, показывает стилистические проблемы и помогает с ними справиться.</li>
            <li>Выпустили первый аналитический отчет «Яндекс и Google: факторы ранжирования в 2017 году», подготовленный Лабораторией поисковой аналитики. </li>
            <li>Получили вторую премию AdIndex в номинации «Поисковая оптимизация»</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/4.png" alt="">
    </div>
</div>