<div class="way-of year__2018">
    <div class="left-side">
        <ul>
            <li>Запустили рейтинг видимости сайтов в поисковых системах, который позволяет оценивать спрос и конкурентную среду.</li>
            <li>Запустили новый формат бизнес-мероприятий eTarget о маркетинге в различных отраслях: ecommerce, финансы, недвижимость, медицина, авто. На сегодняшний день провели более 15 конференций с участием специалистов из SimilarWeb, DataInsight, Циан, AliExpress, Яндекс.Маркет, Google, Banki.ru, ПроДокторов, InVitro, Сравни.ру и десятков крупнейших компаний.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/2.png" alt="">
    </div>
</div>