<div class="way-of year__2014">
    <div class="left-side">
        <ul>
            <li>Открыли Академию интернет-маркетинга, которая проводит образовательные программы, интенсивы и семинары для специалистов по маркетингу и рекламе и их руководителей. Основные специальности — поисковый маркетинг, контекстная реклама, юзабилити, управление интернет-проектами и репутацией в Интернете. </li>
            <li>Провели в Санкт-Петербурге 8 семинаров по интернет-маркетингу</li>
            <li>Создан филиал в Нижнем Новгороде.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/11.png" alt="">
    </div>
</div>