<div class="way-of year__2021 active">
    <div class="left-side">
        <ul>
            <li>Главным фокусом компании определен продуктовый подход к продвижению, с полным погружением в бизнес клиента для кратного роста показателей.</li>
            <li>Состоялась конференция eTarget.Управление репутацией в МГИМО, выпущена первая краткая инструкция по управлению ORM in-house.</li>
            <li>Компания готовится встречать свой 20-ый юбилей.</li>
        </ul>
    </div>
    <div class="right-side">
        <img src="../img/way-img/2021.png" alt="">
    </div>
</div>