<div class="way-of year__2020 active">
    <div class="left-side">
        <ul>
            <li>Разработали методологию продвижения бизнеса в поисковом пространстве (Search Space Optimization, SSO)</li>
            <li>Запустили SearchLab – мощный и гибкий инструмент для кластеризации и LSI-анализа для продвинутых SEO-специалистов и крупных проектов. </li>
            <li>Перевели конференцию Optimization в онлайн-формат и набрали рекордные +3000 участников.</li>
        </ul>
    </div>
    <div class="right-side">
        <ul>
            <li>Выпустили линейку исследований «SEO глазами маркетологов»</li>
            <li>Вошли в топ-10 самых упоминаемых агентств по версии Медиалогии, получили премию ODA ’20 за экспертизу и инновации в поисковом маркетинге.</li>
            <li>Игорь Ашманов вошёл в Совет по правам человека, получил почетную грамоту Президента РФ за заслуги в развитии российского сегмента сети Интернет.</li>
        </ul>
    </div>
</div>