<div class="aip-talking__slider">
    <div class="item">
        <div class="item-content">
            <a href="/reviews/kazakov.html">
                <div class="image">
                    <img src="../img/aips/1.webp" alt="">
                </div>
                <div class="name">
                    артём казаков
                </div>
                <p class="review">
                    «Попав в компанию, я был по-хорошему удивлен тем настроем, драйвом, небезразличием, профессионализмом, который встретил»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>        
    </div>
    <div class="item">
        <div class="item-content">
            <a href="/reviews/yudina.html">
                <div class="image">
                    <img src="../img/aips/22.webp" alt="">
                </div>
                <div class="name">
                    Ольга Юдина
                </div>
                <p class="review">
                    «Я научилась строить команду и управлять ей, создавать и развивать продукты, которые решают задачи клиентов»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="item-content">
            <a href="/reviews/kozoris.html">
                <div class="image">
                    <img src="../img/aips/7.webp" alt="">
                </div>
                <div class="name">
                    Александр Козориз
                </div>
                <p class="review">
                    «Самым ценным для себя считаю непосредственное участие в разработке внутренних сервисов компании, участие в исследованиях»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="item-content">
            <a href="/reviews/andrievsky.html">
                <div class="image">
                    <img src="../img/aips/13.webp" alt="">
                </div>
                <div class="name">
                    Никита Андриевский
                </div>
                <p class="review">
                    «Это был реальный выход за пределы типового SEO, даже сегодня еще не все компании умеют сделать эту услугу»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
</div>