<div class="form-modal">
    <div class="review-form">
        <div class="close-btn"></div>
        <div class="review-form__content">
            <div class="title">Написать отзыв</div>
            <div class="epilog">Напишите нам и мы пришлём вам анкету для заполнения</div>
            <div class="input-group">
                <input type="text" class="text-input" name="client-name" placeholder="Имя">
                <input type="phone" class="text-input" name="client-phone" placeholder="Телефон">
                <span class="form-error"></span>
                <input type="email" class="text-input" name="client-mail" placeholder="E-mail">
            </div>
            <div class="form-button">
                <button type="button" class="btn submit-btn">Написать нам</button>
            </div>
        </div>
    </div>
</div>