<div class="aip-talking__list">
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/kazakov.html">
                <div class="image">
                    <img src="../img/aips/1.webp" alt="">
                </div>
                <div class="name">
                    артём казаков
                </div>
                <p class="review">
                    «Попав в компанию, я был по-хорошему удивлен тем настроем, драйвом, небезразличием, профессионализмом, который встретил»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>        
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/yudina.html">
                <div class="image">
                    <img src="../img/aips/22.webp" alt="">
                </div>
                <div class="name">
                    Ольга Юдина
                </div>
                <p class="review">
                    «Я научилась строить команду и управлять ей, создавать и развивать продукты, которые решают задачи клиентов»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/gvozdev.html">
                <div class="image">
                    <img src="../img/aips/3.webp" alt="">
                </div>
                <div class="name">
                    Виталий Гвоздев
                </div>
                <p class="review">
                    «Самые интересные аспекты работы — общение с клиентами, демонстрация экспертизы и приятное чувство, когда мы выигрываем тендеры»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/kaygorodova.html">
                <div class="image">
                    <img src="../img/aips/4.webp" alt="">
                </div>
                <div class="name">
                    Зоя Кайгородова
                </div>
                <p class="review">
                    «Наиболее ценен для меня полученный багаж знаний по поисковой оптимизации — он  выручает во всех ecommerce приключениях»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/lymar.html">
                <div class="image">
                    <img src="../img/aips/5.webp" alt="">
                </div>
                <div class="name">
                    кирилл лымарь
                </div>
                <p class="review">
                    «Всегда все действия и решения, как по проектам, так и в отношении сотрудников, были продуманы»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/mereshenko.html">
                <div class="image">
                    <img src="../img/aips/6.webp" alt="">
                </div>
                <div class="name">
                    Надежда Мерещенко
                </div>
                <p class="review">
                    «Мы шли в ногу с рынком и развивали все, что можно было выделить в отдельный продукт»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/kozoris.html">
                <div class="image">
                    <img src="../img/aips/7.webp" alt="">
                </div>
                <div class="name">
                    Александр Козориз
                </div>
                <p class="review">
                    «Самым ценным для себя считаю непосредственное участие в разработке внутренних сервисов компании, участие в исследованиях»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/ponomarev.html">
                <div class="image">
                    <img src="../img/aips/8.webp" alt="">
                </div>
                <div class="name">
                    Дмитрий пономарев
                </div>
                <p class="review">
                    “За время работы в компании я научился проектному менеджменту, структурировал и систематизировал свою работу и развил личный бренд”
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/sokolskaya.html">
                <div class="image">
                    <img src="../img/aips/9.webp" alt="">
                </div>
                <div class="name">
                    Ольга Сокольская
                </div>
                <p class="review">
                    «Здесь я приобрела огромный багаж знаний и реализовала себя как спикера»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/shimakov.html">
                <div class="image">
                    <img src="../img/aips/10.webp" alt="">
                </div>
                <div class="name">
                    Михаил шумаков
                </div>
                <p class="review">
                    « Я пришел в компанию с идеей, что Интернет не просто один из рекламных каналов,  а целая медиасреда с комплексом возможностей»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/tepikina.html">
                <div class="image">
                    <img src="../img/aips/11.webp" alt="">
                </div>
                <div class="name">
                    Александра Тепикина
                </div>
                <p class="review">
                    «Для меня «Ашманов и партнеры» — альма-матер. Все пять с половиной лет наполнены приятными воспоминаниями»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item animate-title">
        <div class="item-content">
            <a href="/reviews/tarasov.html">
                <div class="image">
                    <img src="../img/aips/19.webp" alt="">
                </div>
                <div class="name">
                    Никита тарасов
                </div>
                <p class="review">
                    «Приятно видеть, когда твои труды приносят пользу»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item notshow">
        <div class="item-content">
            <a href="/reviews/andrievsky.html">
                <div class="image">
                    <img src="../img/aips/13.webp" alt="">
                </div>
                <div class="name">
                    Никита Андриевский
                </div>
                <p class="review">
                    «Это был реальный выход за пределы типового SEO, даже сегодня еще не все компании умеют сделать эту услугу»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>

    <div class="item notshow">
        <div class="item-content">
            <a href="/reviews/shewcow.html">
                <div class="image">
                    <img src="../img/aips/single/13.webp" alt="">
                </div>
                <div class="name">
                    Виктор шевцов
                </div>
                <p class="review">
                    «Придя на собеседование в конце 2011-го года, знал, что компания — один из лидеров российского рынка интернет агентств»
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item notshow">
        <div class="item-content">
            <a href="/reviews/titova.html">
                <div class="image">
                    <img src="../img/aips/single/12.webp" alt="">
                </div>
                <div class="name">
                    Екатерина титова
                </div>
                <p class="review">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam aspernatur ullam, quo eum odit facere iste recusandae
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
    <div class="item notshow">
        <div class="item-content">
            <a href="/reviews/roshupkin.html">
                <div class="image">
                    <img src="../img/aips/single/14.webp" alt="">
                </div>
                <div class="name">
                    Константин Рощупкин
                </div>
                <p class="review">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam aspernatur ullam, quo eum odit facere iste recusandae
                </p>
                <div class="more-link">
                </div>
            </a>
        </div>
    </div>
</div>