.--svg__black-close,.--svg__black-close-before::before,.--svg__black-close-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.303.303a1.034 1.034 0 011.462 0L12 10.538 22.235.303a1.034 1.034 0 011.462 1.462L13.462 12l10.235 10.235a1.034 1.034 0 01-1.462 1.462L12 13.462 1.765 23.697a1.034 1.034 0 01-1.462-1.462L10.538 12 .303 1.765a1.034 1.034 0 010-1.462z' fill='%231B2232'/%3E%3C/svg%3E");
}
.--svg__black-close-before::before {
    content:'';
}
.--svg__black-close-after::after {
    content:'';
}
.--svg__blaquote,.--svg__blaquote-before::before,.--svg__blaquote-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='102' height='62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.7' d='M0 56.4L20.4.8H50L36 61.4H0v-5zm51.2 0L71.6.8h29.6l-14 60.6h-36v-5z' fill='%230968BF'/%3E%3C/svg%3E");
}
.--svg__blaquote-before::before {
    content:'';
}
.--svg__blaquote-after::after {
    content:'';
}
.--svg__blue-ellipse,.--svg__blue-ellipse-before::before,.--svg__blue-ellipse-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='10.5' transform='rotate(-90 13 13)' fill='%23fff' stroke='%238388B8' stroke-width='5'/%3E%3C/svg%3E");
}
.--svg__blue-ellipse-before::before {
    content:'';
}
.--svg__blue-ellipse-after::after {
    content:'';
}
.--svg__carret-down,.--svg__carret-down-before::before,.--svg__carret-down-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l7 7 7-7' stroke='%23000' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
.--svg__carret-down-before::before {
    content:'';
}
.--svg__carret-down-after::after {
    content:'';
}
.--svg__close-btn,.--svg__close-btn-before::before,.--svg__close-btn-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.555.267A.91.91 0 10.267 1.555L6.712 8 .267 14.445a.91.91 0 000 1.288l.171-.171-.171.171a.91.91 0 001.288 0L8 9.288l6.445 6.445a.91.91 0 101.288-1.288L9.288 8l6.445-6.445A.91.91 0 0014.445.267l.172.171-.172-.171L8 6.712 1.555.267z' fill='%23fff'/%3E%3C/svg%3E");
}
.--svg__close-btn-before::before {
    content:'';
}
.--svg__close-btn-after::after {
    content:'';
}
.--svg__facebook,.--svg__facebook-before::before,.--svg__facebook-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 20c0 8.837-7.163 16-16 16S4 28.837 4 20 11.163 4 20 4s16 7.163 16 16z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20zM20 36c8.837 0 16-7.163 16-16S28.837 4 20 4 4 11.163 4 20s7.163 16 16 16z' fill='%231B2232'/%3E%3Cpath d='M15 20.15h2.35v10h4.05v-10h2.452l.037-.094 1.25-3.125.083-.206H21.4v-2.35a1.1 1.1 0 011.1-1.1h1.4V9.85h-2.65a3.9 3.9 0 00-3.9 3.9v2.975h-2.5v3.425H15z' fill='%231B2232' stroke='%231B2232' stroke-width='.3'/%3E%3C/svg%3E");
}
.--svg__facebook-before::before {
    content:'';
}
.--svg__facebook-after::after {
    content:'';
}
.--svg__fb,.--svg__fb-before::before,.--svg__fb-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='12' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11.15h2.35v10H7.4v-10h2.452l.037-.094 1.25-3.125.083-.206H7.4v-2.35a1.1 1.1 0 011.1-1.1h1.4V.85H7.25a3.9 3.9 0 00-3.9 3.9v2.975H.85v3.425H1z' fill='%231B2232' stroke='%231B2232' stroke-width='.3'/%3E%3C/svg%3E");
}
.--svg__fb-before::before {
    content:'';
}
.--svg__fb-after::after {
    content:'';
}
.--svg__inst,.--svg__inst-before::before,.--svg__inst-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.75.85h-7.5a6.4 6.4 0 00-6.4 6.4v7.5a6.4 6.4 0 006.4 6.4h7.5a6.4 6.4 0 006.4-6.4v-7.5a6.4 6.4 0 00-6.4-6.4zm4.225 13.9a4.23 4.23 0 01-4.225 4.225h-7.5a4.23 4.23 0 01-4.225-4.225v-7.5A4.23 4.23 0 017.25 3.025h7.5a4.23 4.23 0 014.225 4.225v7.5z' fill='%231B2232' stroke='%231B2232' stroke-width='.3'/%3E%3Cpath d='M11 5.85a5.15 5.15 0 100 10.3 5.15 5.15 0 000-10.3zm0 8.125A2.98 2.98 0 018.025 11 2.979 2.979 0 0111 8.025 2.979 2.979 0 0113.975 11 2.98 2.98 0 0111 13.975zM16.375 6.441a.816.816 0 100-1.632.816.816 0 000 1.632z' fill='%231B2232' stroke='%231B2232' stroke-width='.3'/%3E%3C/svg%3E");
}
.--svg__inst-before::before {
    content:'';
}
.--svg__inst-after::after {
    content:'';
}
.--svg__instagram,.--svg__instagram-before::before,.--svg__instagram-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 20c0 8.837-7.163 16-16 16S4 28.837 4 20 11.163 4 20 4s16 7.163 16 16z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20zM20 36c8.837 0 16-7.163 16-16S28.837 4 20 4 4 11.163 4 20s7.163 16 16 16z' fill='%231B2232'/%3E%3Cpath d='M23.75 9.85h-7.5a6.4 6.4 0 00-6.4 6.4v7.5a6.4 6.4 0 006.4 6.4h7.5a6.4 6.4 0 006.4-6.4v-7.5a6.4 6.4 0 00-6.4-6.4zm4.225 13.9a4.23 4.23 0 01-4.225 4.225h-7.5a4.23 4.23 0 01-4.225-4.225v-7.5a4.23 4.23 0 014.225-4.225h7.5a4.23 4.23 0 014.225 4.225v7.5z' fill='%231B2232' stroke='%231B2232' stroke-width='.3'/%3E%3Cpath d='M20 14.85a5.15 5.15 0 100 10.3 5.15 5.15 0 000-10.3zm0 8.125A2.98 2.98 0 0117.025 20 2.979 2.979 0 0120 17.025 2.979 2.979 0 0122.975 20 2.98 2.98 0 0120 22.975zM25.375 15.441a.816.816 0 100-1.632.816.816 0 000 1.632z' fill='%231B2232' stroke='%231B2232' stroke-width='.3'/%3E%3C/svg%3E");
}
.--svg__instagram-before::before {
    content:'';
}
.--svg__instagram-after::after {
    content:'';
}
.--svg__logo,.--svg__logo-before::before,.--svg__logo-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='25' height='39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.21 18.889l3.268 3.268h6.13L1.85 1.73v30.03l4.188-4.494-.306-4.699 8.478-3.677zm-8.58-8.172l5.516 5.21-5.414 2.349-.102-7.559z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.479 22.157l-3.27-3.268-8.477 3.677.306 4.699-4.188 4.494V1.729l21.757 20.428H17.48zM7.245 23.491l.28 4.304-4.614 4.953L.4 31.759V1.729L2.843.67 24.6 21.101l-.993 2.507h-6.73l-2.995-2.996-6.636 2.879zM5.63 10.717l.102 7.559 5.414-2.35-5.516-5.209zm1.496 3.409l.027 1.952 1.398-.607-1.425-1.345z' fill='%231B2232'/%3E%3Cpath d='M13.478 23.745l-3.93 1.72 4.794 10.948 3.93-1.721-4.794-10.947z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.22 26.047l.747-1.91 3.93-1.72 1.91.746L19.6 34.11l-.747 1.91-3.93 1.721-1.91-.747L8.22 26.047zm5.258-2.302l4.794 10.947-3.93 1.72L9.55 25.466l3.93-1.72z' fill='%231B2232'/%3E%3C/svg%3E");
}
.--svg__logo-before::before {
    content:'';
}
.--svg__logo-after::after {
    content:'';
}
.--svg__more-arrow,.--svg__more-arrow-before::before,.--svg__more-arrow-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='31' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5h29m0 0l-5-4m5 4l-5 4' stroke='%23FF294F' stroke-width='2'/%3E%3C/svg%3E");
}
.--svg__more-arrow-before::before {
    content:'';
}
.--svg__more-arrow-after::after {
    content:'';
}
.--svg__play-btn,.--svg__play-btn-before::before,.--svg__play-btn-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='29' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.778 28.828V4.932L23.474 16.88 2.778 28.828z' fill='%230968BF' stroke='%231B2232' stroke-width='5'/%3E%3C/svg%3E");
}
.--svg__play-btn-before::before {
    content:'';
}
.--svg__play-btn-after::after {
    content:'';
}
.--svg__red-ellipse,.--svg__red-ellipse-before::before,.--svg__red-ellipse-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='42' height='42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='18.5' transform='rotate(-90 21 21)' fill='%23fff' stroke='%23FF294F' stroke-width='5'/%3E%3C/svg%3E");
}
.--svg__red-ellipse-before::before {
    content:'';
}
.--svg__red-ellipse-after::after {
    content:'';
}
.--svg__share-link,.--svg__share-link-before::before,.--svg__share-link-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.444 3.022C3.03 4.485 3.34 6.913 4.96 7.988a.136.136 0 00.17-.016c.34-.333.63-.656.882-1.066a.128.128 0 00-.05-.18 1.647 1.647 0 01-.632-.65 1.585 1.585 0 01-.134-1.082c.1-.489.626-.944 1.027-1.365H6.22l1.503-1.535a1.542 1.542 0 012.19-.011 1.56 1.56 0 01.022 2.2l-.91.937a.16.16 0 00-.037.163c.21.608.262 1.465.121 2.113-.004.018.018.03.031.017l1.938-1.978a3.265 3.265 0 00-.023-4.571 3.251 3.251 0 00-4.618.024L4.452 3.014l-.008.008z' fill='%231B2232'/%3E%3Cpath d='M8.067 8.267a.188.188 0 00.004-.002c.395-.723.473-1.552.287-2.36h-.001A3.262 3.262 0 007.042 4.03a.18.18 0 00-.2.009c-.331.269-.657.613-.871 1.053a.146.146 0 00.058.19c.249.145.474.356.624.637.118.198.233.575.159.98-.07.536-.612 1.028-1.043 1.472L4.274 9.897a1.56 1.56 0 01-2.2.022 1.56 1.56 0 01-.023-2.2l.913-.94a.16.16 0 00.037-.16 4.54 4.54 0 01-.13-2.107c.004-.018-.019-.03-.031-.016L.93 6.444a3.299 3.299 0 00.024 4.618 3.258 3.258 0 004.594-.047c.434-.486 2.294-2.208 2.518-2.748z' fill='%231B2232'/%3E%3C/svg%3E");
}
.--svg__share-link-before::before {
    content:'';
}
.--svg__share-link-after::after {
    content:'';
}
.--svg__slick,.--svg__slick-before::before,.--svg__slick-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfont id='slick' horiz-adv-x='512'%3E%3Cfont-face font-family='slick' units-per-em='512' ascent='480' descent='-32'/%3E%3Cglyph unicode='→' d='M241 113l130 130c4 4 6 8 6 13s-2 9-6 13L241 399c-3 3-7 5-12 5s-10-2-13-5l-29-30c-4-3-6-7-6-12s2-10 6-13l87-88-87-88c-4-3-6-8-6-13s2-9 6-12l29-30c3-3 8-5 13-5s9 2 12 5zm234 143c0-40-9-77-29-110-20-34-46-60-80-80-33-20-70-29-110-29s-77 9-110 29c-34 20-60 46-80 80-20 33-29 70-29 110s9 77 29 110c20 34 46 60 80 80 33 20 70 29 110 29s77-9 110-29c34-20 60-46 80-80 20-33 29-70 29-110z'/%3E%3Cglyph unicode='←' d='M296 113l29 30c4 3 6 7 6 12s-2 10-6 13l-87 88 87 88c4 3 6 8 6 13s-2 9-6 12l-29 30c-3 3-8 5-13 5s-9-2-12-5L141 269c-4-4-6-8-6-13s2-9 6-13l130-130c3-3 7-5 12-5s10 2 13 5zm179 143c0-40-9-77-29-110-20-34-46-60-80-80-33-20-70-29-110-29s-77 9-110 29c-34 20-60 46-80 80-20 33-29 70-29 110s9 77 29 110c20 34 46 60 80 80 33 20 70 29 110 29s77-9 110-29c34-20 60-46 80-80 20-33 29-70 29-110z'/%3E%3Cglyph unicode='•' d='M475 256c0-40-9-77-29-110-20-34-46-60-80-80-33-20-70-29-110-29s-77 9-110 29c-34 20-60 46-80 80-20 33-29 70-29 110s9 77 29 110c20 34 46 60 80 80 33 20 70 29 110 29s77-9 110-29c34-20 60-46 80-80 20-33 29-70 29-110z'/%3E%3Cglyph unicode='a' d='M475 439V311c0-5-1-9-5-13s-8-5-13-5H329c-8 0-13 3-17 11-3 7-2 14 4 20l40 39c-28 26-62 39-100 39-20 0-39-4-57-11-18-8-33-18-46-32-14-13-24-28-32-46-7-18-11-37-11-57s4-39 11-57c8-18 18-33 32-46 13-14 28-24 46-32 18-7 37-11 57-11 23 0 44 5 64 15 20 9 38 23 51 42 2 1 4 3 7 3s5-1 7-3l39-39c2-2 3-3 3-6 0-2-1-4-2-6-21-25-46-45-76-59-29-14-60-20-93-20-30 0-58 5-85 17s-51 27-70 47c-20 19-35 43-47 70s-17 55-17 85 5 58 17 85 27 51 47 70c19 20 43 35 70 47s55 17 85 17c28 0 55-5 81-15 26-11 50-26 70-45l37 37c6 6 12 7 20 4 8-4 11-9 11-17z'/%3E%3C/font%3E%3C/defs%3E%3C/svg%3E");
}
.--svg__slick-before::before {
    content:'';
}
.--svg__slick-after::after {
    content:'';
}
.--svg__telegram,.--svg__telegram-before::before,.--svg__telegram-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='13' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.109 6.59L4.91 9.384c.284 0 .407-.122.555-.269l1.331-1.272 2.76 2.02c.506.282.862.134.999-.465L12.365.91h.001c.16-.749-.27-1.041-.764-.858L.957 4.13c-.726.282-.715.687-.123.87l2.721.847L9.877 1.89c.297-.197.568-.088.345.11L5.11 6.59z' fill='%231B2232'/%3E%3C/svg%3E");
}
.--svg__telegram-before::before {
    content:'';
}
.--svg__telegram-after::after {
    content:'';
}
.--svg__transpar-ellipse,.--svg__transpar-ellipse-before::before,.--svg__transpar-ellipse-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='8.5' transform='rotate(-90 11 11)' fill='%23fff' stroke='%23BBBED8' stroke-width='5'/%3E%3C/svg%3E");
}
.--svg__transpar-ellipse-before::before {
    content:'';
}
.--svg__transpar-ellipse-after::after {
    content:'';
}
.--svg__vk,.--svg__vk-before::before,.--svg__vk-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='20' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.822 10.473c-.054-.09-.386-.813-1.987-2.298-1.675-1.555-1.45-1.303.568-3.992 1.229-1.637 1.72-2.637 1.566-3.065-.146-.407-1.05-.3-1.05-.3l-3.005.018s-.223-.03-.389.068c-.161.098-.265.323-.265.323s-.476 1.267-1.111 2.345c-1.339 2.274-1.875 2.394-2.094 2.253-.509-.33-.381-1.323-.381-2.028 0-2.204.333-3.123-.652-3.36-.327-.079-.567-.131-1.404-.14C8.546.286 7.638.3 7.123.552c-.342.167-.606.541-.445.562.199.027.65.122.888.447.309.418.297 1.361.297 1.361s.178 2.594-.413 2.916c-.407.222-.963-.23-2.157-2.293C4.682 2.488 4.22 1.319 4.22 1.319s-.088-.217-.247-.333C3.779.844 3.509.799 3.509.799L.652.817s-.43.012-.587.199c-.14.166-.011.508-.011.508s2.238 5.235 4.77 7.873c2.324 2.42 4.962 2.26 4.962 2.26h1.195s.361-.04.545-.238c.17-.183.164-.525.164-.525s-.024-1.604.721-1.84c.734-.233 1.677 1.55 2.675 2.236.755.519 1.33.405 1.33.405l2.67-.037s1.398-.087.736-1.185z' fill='%231B2232'/%3E%3C/svg%3E");
}
.--svg__vk-before::before {
    content:'';
}
.--svg__vk-after::after {
    content:'';
}
.--svg__white-arrow-down,.--svg__white-arrow-down-before::before,.--svg__white-arrow-down-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.195.862c.26-.26.683-.26.943 0L6 5.724 10.862.862a.667.667 0 11.943.943L6.47 7.138a.667.667 0 01-.942 0L.195 1.805a.667.667 0 010-.943z' fill='%23fff'/%3E%3C/svg%3E");
}
.--svg__white-arrow-down-before::before {
    content:'';
}
.--svg__white-arrow-down-after::after {
    content:'';
}
.--svg__white-arrow,.--svg__white-arrow-before::before,.--svg__white-arrow-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='10' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.707.293a1 1 0 010 1.414L2.414 9l7.293 7.293a1 1 0 01-1.414 1.414l-8-8a1 1 0 010-1.414l8-8a1 1 0 011.414 0z' fill='%23fff'/%3E%3C/svg%3E");
}
.--svg__white-arrow-before::before {
    content:'';
}
.--svg__white-arrow-after::after {
    content:'';
}