<footer class="footer">
    <div class="footer__content">
        <div class="footer__content-item">
            <div class="logo ">
                <a href="/">
                    <div class="block --svg__logo"></div>
                </a>
            </div>
            <div class="location">
                <p class="name">ЦЕНТРАЛЬНЫЙ ОФИС В МОСКВЕ</p>
                <p class="address">Верейская 29, строение 134,БЦ «Верейская плаза 3»</p>
                <p class="phone"><a href="tel:+74952690630">+7 495 269 06 30</a></p>
            </div>
        </div>
        <div class="footer__content-item">
            <div class="social">
                <div class="social__list">
                    @@include('../bem-blocks/_social.html')
                </div>                
            </div>
            <div class="callback">
                @@include('../bem-blocks/_callback-group.html')
            </div>
        </div>
    </div>
    <div class="powered">
        <div class="info">© 2001—2021 «Ашманов и партнеры»</div>
    </div>
</footer>
@@include('../bem-blocks/_modal-form.html')